html{
	box-sizing: border-box;
}
body{
	width: 100%;
}
body .navbar{
	border: 0px;
	position: absolute;
	background-color: transparent;
	padding-top: 25px;
}
.navTabs{
	font-size: 10px;
	display: inline-block;
	float: left;
	padding: 20px 10px 0 10px;
	text-decoration: none;
}
html body div nav div div p {
	padding-left: 20%;
	font-size: 30px;
	font-family: serif;
	}
	span{
	font-size: 30px;
	font-style: oblique;
	font-family: serif;
}
body .area1{
	height: 1200px;
	width: 1170px;
	background-image: url("http://i.imgur.com/SpcdVx2.jpg");
	background-repeat: no-repeat;
} 