html{
	box-sizing: border-box;
}
body{
	width: 100%;
}
body .navbar{
	border: 0px;
}
.navTabs{
	font-size: 10px;
	display: inline-block;
	float: right;
	padding: 10px;
}
html body div nav div div p {
	font-size: 30px;
	font-family: serif;
	}
	span{
	font-size: 30px;
	font-style: oblique;
	font-family: serif;
}
body .area1{
	height: 1200px;
	width: 1170px;
	background-image: url("http://i.imgur.com/SpcdVx2.jpg");
	background-repeat: no-repeat;
}